<%= form_for(bin) do |f| %>
  <% if bin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bin.errors.count, "error") %> prohibited this bin from being saved:</h2>

      <ul>
      <% bin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, tabindex: 1 %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, tabindex: 2 %>
  </div>

  <p>The first one is the introduction and the second one is the one that will show on the front page</p>

  <% (0..19).each do |i| %>
    <%= f.collection_select(:post_ids, @posts, :id, :id_with_title, { include_blank: 'None', selected: @bin.posts[i].try(:id) }, { name: "bin[post_ids][#{i}]" }) %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
