<p id="notice"><%= notice %></p>

<h1>Bins</h1>

<table>
  <thead>
    <tr>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @bins.each do |bin| %>
      <tr>
        <td><%= image_tag bin.logo.url(:thumb), style: 'max-height:64px;max-width:64px;' %></td>
        <td><%= bin.title %></td>
        <td><%= bin.abbreviation %></td>
        <td><%= bin.position %></td>
        <td>
          <ol>
            <% bin.posts.each do |post| %>
              <li><%= post.title %> - <%= link_to 'Link', bin_path(bin, post: post.id) %></li>
            <% end %>
          </ol>
        </td>
        <td><%= bin.description %></td>
        <td><%= link_to 'Edit', edit_bin_path(bin) %></td>
        <td><%= link_to 'Destroy', bin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bin', new_bin_path %>
