<div class="page-container page">
  <div class="channel-panel">
    <div class="new-post-button-and-container">
      <div class="btn-container">
        <%= link_to 'javascript:;', class: 'btn btn-primary new-post-button' do %>
          <span class="new-post-key">N</span>ew Post
        <% end %>
        <%= link_to "Random Chat With Someone New!", new_chat_path, class: 'btn btn-success blink'%>
      </div>

      <div class="new-post-container" style="display: none;">
        <%= form_for(@post) do |f| %>
          <div class="fields">
            <div class="field new-post-field new-post-title">
              <%= f.text_field :title, placeholder: 'Title', tabindex: 1 %>
            </div>
            <div class="field new-post-field">
              <%= f.text_field :link, placeholder: 'Link (optional)', tabindex: 2 %>
            </div>
            <div class="field new-post-field">
              <%= f.collection_select(:bin_id, @bins, :id, :title, { selected: @bin.try(:id) }, { name: "post[bin_id]" }) %>
            </div>
          </div>
          <% if current_user && current_user.is_admin? %>
            <div class="field new-post-field">
              <%= f.label :sticky %>
              <%= f.check_box :sticky %>
            </div>
            <div class="field new-post-field">
              <%= f.label :live %>
              <%= f.check_box :live %>
            </div>
          <% end %>
          <div class="new-post-textarea">
            <%= f.text_area :text_content, placeholder: 'Text (optional)', tabindex: 3 %>
          </div>
          <div class="fields">
            <div class="btn-container">
              <%= f.submit class: 'btn btn-primary', tabindex: 4 %>
            </div>
            <div class="btn-container clear-button">
              <button type="button" class="btn btn-default" aria-label="Left Align", tabindex="4">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="bins-container">
      <div class="bins">
        <% @bins.each do |bin| %>
          <div class="bin">
            <% post = bin.posts.first %>
            <% if post.format_type == 'youtube' %>
              <%= link_to image_tag("http://img.youtube.com/vi/" + post.format_link + "/0.jpg", class: "live-img"), bin %>
            <% elsif post.format_type == 'twitch' %>
              <%= link_to image_tag("twitch.jpg", class: "live-img"), bin %>
            <% end %>
            <%= link_to bin do %>
              <h3 class="bin-title"><%= bin.title %></h3>
            <% end %>
            <h4 class="post-title"><%= post.title %></h4>
            <div class="bin-description"><p><%= bin.description %></p></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if current_user %>
  <% else %>
    <div class="right-panel">
      <div class="login-container">
        <%= form_for(User.new, as: :user, url: session_path(:user)) do |f| %>

          <div class="fields">
            <div class="field login-field">
              <%= f.text_field :login, class: 'login-input', tabindex: 5, placeholder: 'Username/Email' %>
            </div>

            <div class="field login-field">
              <%= f.password_field :password, autocomplete: "off", class: 'login-input', tabindex: 6, placeholder: 'Password' %>
            </div>

            <div class="btn-container">
              <%= f.submit "Log in", class: 'btn btn-info', tabindex: 7 %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="btn-container">
        <%= link_to "Sign up", new_registration_path(:user), class: 'btn btn-success', tabindex: 8 %>
      </div>
    </div>
  <% end %>
</div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
$(document).ready(function() {
  var postChannel = new PostChannel();
  var posts = new Posts();
  var newPost = new NewPost();
});
</script>