<div class="page-container page">
  <div class="channel-panel">
    <div class="bins-container">
      <div class="bins">
        <% @bins.each do |bin| %>
          <div class="bin">
            <% post = bin.posts.first %>
            <% if post.format_type == 'youtube' %>
              <%= link_to image_tag("http://img.youtube.com/vi/" + post.format_link + "/0.jpg", class: "live-img"), bin %>
            <% elsif post.format_type == 'twitch' %>
              <%= link_to image_tag("twitch.jpg", class: "live-img"), bin %>
            <% end %>
            <%= link_to bin do %>
              <h3 class="bin-title"><%= bin.title %></h3>
            <% end %>
            <h4 class="post-title"><%= post.title %></h4>
            <div class="bin-description"><p><%= bin.description %></p></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
$(document).ready(function() {
  var posts = new Posts();
});
</script>