<div class="page-container page">
  <div class="channel-panel">
    <div class="bins-container">
      <div class="bins">
        <% @bins.each do |bin| %>
          <div class="bin">
            <% post = bin.posts.first %>
            <% if post %>
              <% if post.format_type == 'youtube' %>
                <%= link_to image_tag("https://img.youtube.com/vi/" + post.format_link + "/0.jpg", class: "live-img #{mobile_css}"), bin %>
              <% elsif post.format_type == 'twitch' %>
                <%= link_to image_tag("twitch.jpg", class: "live-img"), bin %>
              <% end %>
              <%= link_to bin do %>
                <h3 class="bin-title <%= mobile_css %>"><%= bin.title %></h3>
              <% end %>
              <h4 class="post-title"><%= post.title %></h4>
            <% end %>
            <div class="bin-description <%= mobile_css %>"><p><%= bin.description %></p></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
$(document).ready(function() {
  var posts = new Posts();
});
</script>