<div class="page-container page">
  <div class="channel-panel">
    <div class="bins-container">
      <div class="bins">
        <% @bins.each do |bin| %>
          <%= link_to bin, class: 'bin' do %>
            <div class="bin-contents">
              <% post = bin.posts.first %>
              <% if post %>
                <% if post.format_type == 'youtube' %>
                  <%= image_tag("https://img.youtube.com/vi/" + post.format_link + "/0.jpg", class: "live-img #{mobile_css}") %>
                <% elsif post.format_type == 'twitch' %>
                  <%= image_tag("twitch.jpg", class: "live-img #{mobile_css}") %>
                <% else %>
                  <%= image_tag("missing_bin.png", class: "live-img #{mobile_css}") %>
                <% end %>
                <div class="bin-info-container">
                  <h3 class="bin-info"><%= bin.position + 1 %> <%= bin.abbreviation %></h3>
                  <h3 class="bin-title <%= mobile_css %>"><%= bin.title %></h3>
                </div>
                <h4 class="post-title <%= mobile_css %>"><%= post.title %></h4>
              <% end %>
              <div class="bin-description <%= mobile_css %>"><p><%= bin.description %></p></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
$(document).ready(function() {
  var posts = new Posts();
});
</script>