<div class='form-container'>
 <h2>Sign up! It literally take 5 seconds.</h2>

 <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
   <%= devise_error_messages! %>

   <div class="field">
     <%= f.label :name, 'Username' %><br />
     <%= f.text_field :name, autofocus: true %>
   </div>

   <div class="field">
     <%= f.label :email, 'Email' %> - <em>Our emails don't suck!</em><br />
     <%= f.email_field :email %>
   </div>

   <div class="field">
     <%= f.label :password %><br />
     <%= f.password_field :password, autocomplete: "off" %>
   </div>

   <div class="actions">
     <%= f.submit "Sign up!", class: 'btn btn-success auth-btn' %>
   </div>
 <% end %>
</div>