<div class="authentication-container <%= mobile_css %>">
  <div class="total-users-container">
    <span id="total-users"><%= User.where(active: true).count %></span><span> users on now!</span>
    <% if current_user %>
        <%= link_to("Logout", destroy_user_session_path, :method => :delete, class: 'logout-link') %>
    <% end %>
  </div>

  <% unless current_user %>
      <div class="login-and-signup-button">
        <div class="auth-form-container">
          <%= form_for(User.new, as: :user, url: session_path(:user)) do |f| %>
              <div class="fields">
                <div class="field">
                  <%= f.text_field :login, class: "login-field #{mobile_css}", placeholder: 'Username/Email' %>
                </div>

                <div class="field">
                  <%= f.password_field :password, class: "password-field #{mobile_css}", autocomplete: "off", placeholder: 'Password' %>
                </div>

                <div class="btn-container">
                  <%= f.submit "Log in", class: "btn btn-info btn-xs" %>
                </div>

                <div class="btn-container">
                  <%= link_to "Sign up", 'javascript:;', class: "btn btn-success signup btn-xs" %>
                </div>
              </div>
          <% end %>
        </div>
      </div>

      <div class='signup-form-container auth-form-container hidden'>
        <%= form_for(User.new, as: :user, url: registration_path(:user)) do |f| %>
            <div class="fields">
              <div class="field">
                <%= f.text_field :name, class: "username-field #{mobile_css}", autofocus: true, placeholder: 'Username' %>
              </div>

              <div class="field">
                <%= f.password_field :password, class: "register-password-field #{mobile_css}", placeholder: 'Password', autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.email_field :email, class: "email-field #{mobile_css}", placeholder: "Email" %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up!", class: "btn btn-success auth-btn btn-xs" %>
              </div>
              <div class="btn-container signup-clear-button">
                <button type="button" class="btn btn-default <%= mobile_small_btn %>" aria-label="Left Align">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
</div>
