<div class="room-page page">
  <div class="left-panel">
    <div class="local-video-container">
      <div class="videoContainer">
        <video id="localVideo" style="height: 150px;" oncontextmenu="return false;"></video>
        <div id="localVolume" class="volume_bar"></div>
      </div>
    </div>

    <% if @room.post.link.present? && @room.post.format_link.blank? %>
      <%= link_to @room.post.full_url, @room.post.full_url, target: '_blank', class: 'preview' %>
    <% end %>

    <% if @room.post.text_content.present? %>
      <% if @room.post.format_link.blank? %>
        <div class="well">
          <%= html_escape(simple_format @room.post.text_content) %>
        </div>
      <% end %>

      <% if @room.post.text_content.length > 500 %>
        <div class="btn btn-info read-more" aria-label="Left Align">
          <span class="fa fa-file-text-o fa-lg" aria-hidden="true"></span> Read more
        </div>

        <script>
          $('.read-more').featherlight('<div class=\"well\"><%= html_escape j(simple_format @room.post.text_content) %></div>', {
              closeIcon: '<div class=\"escape-container\"><span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span></div>',
              otherClose: '.escape-icon',
              afterOpen: function() {
                $('.featherlight-content').append('<div class=\"btn escape-icon\">esc</div>')
            }
          });
        </script>
      <% end %>
    <% end %>

    <% if @room.post.format_link.present? %>
      <div class="embeded-content-container">
        <div class="embeded-content-wrapper <%= @room.post.format_type || '' %>">
        </div>
      </div>
    <% end %>
  </div>

  <div class="remote-panel">
    <div class="alert-container">
      <div class="alert alert-info status" role="alert"></div>
    </div>

    <div class="remote-container">
      <div id="toggle-local" class="toggle display-none" aria-label="Left Align">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
      </div>

      <div class="no-user-container">
        <div class="well no-user" aria-label="Left Align">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>
      </div>

      <div id="remote"></div>

      <div id="toggle-chat" class="toggle display-none" aria-label="Left Align">
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      </div>
    </div>

    <div class="buttons">
      <div class="control-buttons display-none">
        <button id="mute-microphone-button" class="btn dtn-defualt"><span class="fa fa-microphone-slash"></span></button>
        <button id="mute-volume-button" class="btn dtn-defualt"><span class="fa fa-volume-off"></span></button>
        <button id="end-conversation" class="btn btn-danger">End Conversation</button>
      </div>

      <div class="new-buttons display-none">
        <%= link_to "Back to the Front Page", root_url, id: 'new-topic', class: 'btn btn-info' %>
        <%= link_to "New Chat - #{@subtitle}", @room.post, id: 'new-conversation', class: 'btn btn-success' %>
      </div>
    </div>

    <div class="rating display-none">
      <h4 id="rate-other-user">How would you rate your conversation</h4>
      <div class="rating-description">
        <p>Rating your conversations will increase your chances of being matched with someone you will enjoy talking with!</p>
      </div>

      <%= form_for(@rating, remote: true) do |f| %>
        <%= f.hidden_field :room_id, value: @room.id %>

        <div>
          <%= f.check_box :nsfw %>
          <%= f.label :nsfw, "Report for nudity" %>
        </div>

        <div class="rating-select-container">
          <span class="caret"></span>
          <% select_options = options_for_select([["★", 1], ["★★", 2], ["★★★", 3], ["★★★★", 4], ["★★★★★", 5]], ["★★★", 3]) %>
          <%= f.select :value, select_options %>
        </div>

        <%= f.submit "Submit Rating", class: 'submit-rating btn btn-primary' %>
      <% end %>
    </div>
  </div>

  <div class="chat-panel">
    <div class="messages-container">
    </div>
    <div class="send-container">
      <textarea class='form-control display-none' id="send-message" placeholder="Type a message, press enter to send"></textarea>
    </div>
  </div>
</div>

<script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
  $(document).ready(function(){
    var roomShow = new RoomShow({ room: '<%= @room.token %>', participationId: '<%= @participation_id %>', nick: '<%= current_user.name %>' });
    $('.embeded-content-wrapper').append('<%= @room.post.format_link ? j(render partial: "#{@room.post.format_type}", locals: { value: @room.post.format_link }) : '' %>');

    $('.flash.notice').delay(3500).fadeOut(1400);
  });
</script>
