<div class="room-page page">
  <div class="left-panel">
    <div class="alert alert-info status" role="alert"></div>

    <div class="videoContainer">
      <video id="localVideo" style="height: 150px;" oncontextmenu="return false;"></video>
      <div id="localVolume" class="volume_bar"></div>
    </div>

    <div class="buttons">
      <button id="end-conversation" class="btn btn-danger">End Conversation</button>
      <div class="new-buttons">
        <%= link_to "New Conversation About the Same Topic", @room.post, id: 'new-conversation', class: 'btn' %>
        </br >
        <%= link_to "List of Topics", root_url, id: 'new-topic', class: 'btn' %>
      </div>
    </div>

    <div class="rating">
      <h4 id="rate-other-user">How would you rate your conversation</h4>
      <div class="rating-description">
        <p>Rating your conversations will increase your chances of being matched with someone you will enjoy talking with!</p>
      </div>

      <%= form_for(@rating, remote: true) do |f| %>
        <%= f.hidden_field :room_id, value: @room.id %>

        <div>
          <%= f.check_box :nsfw %>
          <%= f.label :nsfw, "Report for nudity" %>
        </div>

        <div class="rating-select-container">
          <span class="caret"></span>
          <% select_options = options_for_select([["★", 1], ["★★", 2], ["★★★", 3], ["★★★★", 4], ["★★★★★", 5]], ["★★★", 3]) %>
          <%= f.select :value, select_options %>
        </div>

        <%= f.submit "Submit Rating", class: 'submit-rating btn btn-primary' %>
      <% end %>
    </div>

    <div class="embedded-content-container">
      <% if @room.post.format_link %>

      <% elsif @room.post.link %>
        <%= link_to @room.post.link, "http://#{@room.post.link}", target: '_blank', class: 'preview' %>
      <% end %>
    </div>
  </div>

  <div class="remote-panel">
    <div class="remote-container">
      <div id="toggle-local" class="toggle" aria-label="Left Align">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
      </div>

      <div class="no-user-container">
        <div class="well no-user" aria-label="Left Align">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>
      </div>

      <div id="remote"></div>

      <div id="toggle-chat" class="toggle" aria-label="Left Align">
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      </div>
    </div>
  </div>

  <div class="chat-panel">
    <div class="messages-container">
      <div class="from well well-sm bg-info">Hey how is it going</div>
      <div class="to well well-sm">It is going well thank you!</div>
    </div>
    <div class="send-container">
      <textarea class='form-control' id="send-message" placeholder="Type a message, press enter to send"></textarea>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    var roomShow = new RoomShow({ room: '<%= @room.token %>', participationId: '<%= @participation_id %>', nick: '<%= current_user.name %>' });
    $('.embedded-content-container').append('<%= @room.post.format_link ? raw(@room.post.format_link_for_youtube) : '' %>');
  });
</script>
