<%= audio_tag('notification.wav', id: 'notification-sound') %>

<div class="room-page <%= mobile_css %>">
  <div class="content-panel-reactions-container <%= mobile_css %>">
    <div class="content-panel <%= mobile_css %>">
      <div class="remote-control">
        <div class="remote-control-container">
          <h4>CHANNEL</h4>
          <button id="channel-up"><i class="fa fa-angle-up fa-2x"></i></button>
          <button id="channel-down"><i class="fa fa-angle-down fa-2x"></i></button>
          <h4>SHOW</h4>
          <div class="show-container">
            <button id="prev-post"><i class="fa fa-angle-left fa-2x"></i></button>
            <button id="next-post"><i class="fa fa-angle-right fa-2x"></i></button>
          </div>
        </div>
      </div>
      <% if !mobile? %>
        <div class="video-panel hidden">
          <%= video_tag('static1.mp4', id: 'static1', class: 'static hidden') %>
          <%= video_tag('static2.mp4', id: 'static2', class: 'static hidden') %>
          <%= video_tag('static3.mp4', id: 'static3', class: 'static hidden') %>
          <%= video_tag('static4.mp4', id: 'static4', class: 'static hidden') %>
          <%= video_tag('static5.mp4', id: 'static5', class: 'static hidden') %>
          <%= video_tag('static6.mp4', id: 'static6', class: 'static hidden') %>
          <%= video_tag('static7.mp4', id: 'static7', class: 'static hidden') %>
          <%= video_tag('static8.mp4', id: 'static8', class: 'static hidden') %>
          <%= video_tag('static9.mp4', id: 'static9', class: 'static hidden') %>
          <%= video_tag('static10.mp4', id: 'static10', class: 'static hidden') %>
        </div>
      <% end %>

      <% if @room.post.format_link.present? %>
        <% if @room.post.format_type == 'twitter' || @room.post.format_type == 'imgur' || @room.post.format_type == 'gfycat' %>
          <div class="embeded-content-container">
            <div class="embeded-content-wrapper <%= @room.post.format_type || '' %>">
            </div>
          </div>
        <% else %>
          <div class="embeded-content-container embed-responsive embed-responsive-16by9">
            <div class="embeded-content-wrapper <%= @room.post.format_type || '' %>">
            </div>
          </div>
        <% end %>
      <% else %>
        <div> </div>
      <% end %>

      <% if @room.post.link.present? && @room.post.format_link.blank? %>
        <%= link_to @room.post.full_url, @room.post.full_url, target: '_blank', class: 'preview' %>
      <% end %>

      <% if @room.post.text_content.present? %>
        <div class="well post-content">
          <%= html_escape(simple_format @room.post.text_content) %>
        </div>

        <% if @room.post.text_content.length > 500 %>
          <div class="btn btn-info read-more" aria-label="Left Align">
            <span class="fa fa-file-text-o fa-lg" aria-hidden="true"></span> Read more
          </div>

          <script>
            $('.read-more').featherlight('<div class=\"well post-content\"><%= html_escape j(simple_format @room.post.text_content) %></div>', {
              closeIcon: '<div class=\"escape-container\"><span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span></div>',
              otherClose: '.escape-icon',
              afterOpen: function() {
                $('.featherlight-content').append('<div class=\"btn escape-icon\">esc</div>')
              }
            });
          </script>
        <% end %>
      <% end %>
    </div>

    <div class="reaction-panel-container <%= mobile_css %> ">
      <div class="reaction-panel">
        <div class="react-button-container">
          <button id="react-button" class="btn btn-warning" data-toggle="tooltip" data-placement="left" title="Click to make a four second reaction or hold to make a longer one!">Leave a video reaction!</button>
        </div>

        <div class="reaction-preview-container">
          <video id='reaction-preview' class='display-none' muted="muted"></video>
        </div>

        <div class="react-results-container display-none">
          <div class='reaction-buttons-container'>
            <button id="post-reaction" class="btn btn-success">Post Reaction</button>
            <button id="toss-reaction" class="btn btn-danger">Toss Reaction</button>
          </div>
        </div>

        <div class="reactions-and-react-button">
          <div class="reactions-container">
            <% @room.post.reactions.each do |reaction| %>
              <div class="video-container">
                <%= video_tag(reaction.video.url, controls: true, class: 'reaction-video') %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="guide-info-remote-container">
    <div class="guide-info <%= mobile_css %>">
      <div class="bin-controls-wrapper">
        <div class="bin-controls-container">
          <%= image_tag @room.bin.logo.url(:medium), class: "bin-logo #{mobile_css}" %>
          <div class="bin-post-container">
            <div class="post-info-container">
              <div class="likes-header">
                <% if current_user && Like.where(user_id: current_user.id, post_id: @room.post.id, dislike: false).exists? %>
                  <button id="like" class="btn btn-primary <%= mobile_small_btn %>"><span class="fa fa-lg fa-thumbs-o-up"></span></button>
                <% else %>
                  <button id="like" class="btn btn-default <%= mobile_small_btn %>"><span class="fa fa-lg fa-thumbs-o-up"></span></button>
                <% end %>
                <span class="like-count-container">
                <span class='like-count' data-post-id="<%= @room.post.id %>"><%= @room.post.likes.count %></span>
                <i class="fa fa-thumbs-o-up"></i>
              </span>
                <% if mobile? %>
                  <h4 class="post-header" title="<%= @room.post.title %>" data-post-id="<%= @room.post.id %>"><%= @room.post.title %></h4>
                <% else %>
                  <h3 class="post-header" title="<%= @room.post.title %>" data-post-id="<%= @room.post.id %>"><%= @room.post.title %></h3>
                <% end %>
              </div>
            </div>

            <div class="bin-header-description">
              <div class="bin-number-header">
                <% if mobile? %>
                  <h4 class="bin-channel-number"><%= @room.bin.position + 1 %> <%= @room.bin.abbreviation %></h4>
                <% else %>
                  <h4 class="bin-channel-number"><%= @room.bin.position + 1 %> <%= @room.bin.abbreviation %></h4>
                <% end %>
                <% if mobile? %>
                  <h5 class="bin-header" title="<%= @room.bin.title %>" data-bin-id="<%= @room.bin.id %>"><%= @room.bin.title %></h5>
                <% else %>
                  <h4 class="bin-header" title="<%= @room.bin.title %>" data-bin-id="<%= @room.bin.id %>"><%= @room.bin.title %></h4>
                <% end %>
              </div>
              <div class="bin-description <%= mobile_css %>" title="<%= @room.bin.description %>">
                <%= truncate(@room.bin.description, 150) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="chat-panel-container <%= mobile_css %>">
      <div class="chat-panel">
        <div class="chat-container">
          <div class="social-stoplight-container">
            <div class="stoplight-info">
              <h5 class="stoplight-title">Match Making</h5>
              <div class="stoplight-options">
                <h4 class="stoplight-option party <%= !current_user || current_user.matching? ? 'on' : '' %>">Public</h4>
                <h4 class="stoplight-option friends <%= current_user && !current_user.matching? && !current_user.solo? ? 'on' : '' %>">Invite Only</h4>
                <h4 class="stoplight-option solo <%= current_user && !current_user.matching? && current_user.solo? ? 'on' : '' %>">Solo</h4>
              </div>
            </div>
            <div class="stoplight">
              <i id="social-stoplight-helper" class="fa fa-question-circle info-helper" data-html="true" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="<table><tr>Video Chat Match Making</tr><tr><td>Public</td><td> - match with anyone, max 3 total. You can still send invites.</td></tr><tr><td>Invite </td><td> - match with invited people only. Hint: send the URL.</td></tr><tr><td>Solo</td><td> - video chat disabled, will not end an ongoing chat</td></tr></table>"></i>
              <div class="lights">
                <div class="light party <%= !current_user || current_user.matching? ? 'on' : '' %>"></div>
                <div class="light friends <%= current_user && !current_user.matching? && !current_user.solo? ? 'on' : '' %>"></div>
                <div class="light solo <%= current_user && !current_user.matching? && current_user.solo? ? 'on' : '' %>"></div>
              </div>
            </div>
          </div>

          <div class="remote-container">
            <div id="remote">
              <div class="no-user-container">
                <div class="well no-user" aria-label="Left Align">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="local-video-container">
            <div class="videoContainer">
              <video id="localVideo"></video>
              <div id="localVolume" class="volume_bar"></div>
            </div>
          </div>
        </div>

        <div class="chat-info-container">
          <div class="alert chat-alert alert-info status" role="alert"></div>

          <div class="chat-again-container hidden">
            <button class="btn btn-primary btn-xs" id='chat-again'>Chat Again!</button>
          </div>

          <div class="buttons">
            <div class="control-buttons invisible">
              <button id="mute-microphone-button" class="btn btn-default btn-sm"><span class="fa fa-microphone-slash"></span></button>
              <button id="mute-volume-button" class="btn btn-default btn-sm"><span class="fa fa-volume-off"></span></button>
              <button id="end-conversation" class="btn btn-danger btn-sm">End Chat</button>
            </div>
          </div>

          <div class="invite-friends">
            <h5 class="option-title">Send Invite</h5>
            <i id="invite-friends-helper" class="fa fa-question-circle info-helper" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Send anyone the URL to invite them to this chat and watch with you!"></i>
            <input type="text" class="lookup-input" value="<%= request.original_url.gsub('https://', '').gsub('http://', '') %>"/>
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://chatben.tv/chat/<%= @room.token %>&amp;title=I'm%20watching%20chatben.tv%20right%20now!%20Join%20my%20video%20chat%20and%20watch%20with%20me!%0A%0A" class="btn btn-primary btn-xs social-button btn-fb"><span class="fa fa-facebook"></span></a>
            <a target="_blank" href="http://twitter.com/home?status=I'm%20watching%20chatben.tv%20right%20now!%20Join%20my%20video%20chat%20and%20watch%20with%20me!%0A%0A+https://chatben.tv/chat/<%= @room.token %>" class="btn btn-primary btn-xs social-button btn-twitter"><span class="fa fa-twitter"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="guide-wrapper <%= mobile_css %>">
  <div class="guide-container">
    <div id="channel-contents" class="channel-contents guide-table <%= mobile_css %>">
      <table>
        <% @bins.each do |bin| %>
          <tr data-guide-bin-id="<%= bin.id %>">
            <td class="headcol" data-guide-post-id="<%= bin.posts.first.try(:id) %>" title="<%= bin.title %>">
              <button><%= "#{bin.position + 1} #{bin.abbreviation}" %></button>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div id="guide-contents" class="guide-table <%= mobile_css %>">
      <table>
        <% @bins.each do |bin| %>
          <tr data-guide-bin-id="<%= bin.id %>">
            <% bin.posts.each do |post| %>
              <% if post.id == @room.post.id && bin.id == @room.bin.id %>
                <td data-guide-post-id="<%= post.id %>"><button class="selected-show" title="<%= post.title %>"><%= truncate(post.title) %></button></td>
              <% else %>
                <td data-guide-post-id="<%= post.id %>"><button title="<%= post.title %>"><%= truncate(post.title) %></button></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div class="info-container invisible">
  <h2 class="info-title">Invite friends to watch with you!</h2>
  <div class="social">

    <div class="camera-access-wrapper">
      <%= image_tag 'pipey_trans.png', class: 'camera-access' %>
    </div>

    <div class="share-wrapper">
      <div class="invite-friends">
        <h5 class="option-title">Send Invite</h5>
        <i id="invite-friends-helper" class="fa fa-question-circle info-helper" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Send anyone the URL to watch together!"></i>
        <input type="text" class="lookup-input" value="<%= request.original_url.gsub('https://', '').gsub('http://', '') %>"/>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://chatben.tv/chat/<%= @room.token %>&amp;title=I'm%20watching%20chatben.tv%20right%20now!%20Join%20my%20video%20chat%20and%20watch%20with%20me!%0A%0A" class="btn btn-primary btn-xs social-button btn-fb"><span class="fa fa-facebook"></span></a>
        <a target="_blank" href="http://twitter.com/home?status=I'm%20watching%20chatben.tv%20right%20now!%20Join%20my%20video%20chat%20and%20watch%20with%20me!%0A%0A+https://chatben.tv/chat/<%= @room.token %>" class="btn btn-primary btn-xs social-button btn-twitter"><span class="fa fa-twitter"></span></a>
      </div>
    </div>
  </div>
  <button class="btn btn-success btn-lg" id="info-go-button">Go!</button>
</div>
<script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
<script async type="text/javascript" src="https://assets.gfycat.com/gfycat.js"></script>
<script async src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>

<script>
  $(document).ready(function(){
    window.fromToken = '<%= SecureRandom.uuid %>';
    var roomChannel = new RoomChannel({ roomToken: '<%= @room.token %>', postId: '<%= @room.post_id %>', mobile: '<%= mobile_css %>'});
    var likeChannel = new LikeChannel();
    var roomShow = new RoomShow({
      room: '<%= @room.token %>',
      mobile: '<%= mobile? %>',
      signalServer: '<%= Rails.env.development? ? "http://localhost:8888/" : "https://www.signalben.co:443/" %>',
    });

    var newPost = new NewPost();
    new Guide;
    new Info({ mobile: '<%= mobile? %>' });
    new ChatAgain({url: "<%= Rails.env.development? ? 'http://localhost:3000' : 'https://chatben.tv' %>"});

    $('.embeded-content-wrapper').append('<%= @room.post.format_link ? j(render partial: "#{@room.post.format_type}", locals: { value: @room.post.format_link, start: @room.post.start_time }) : '' %>');

    var duration = '<%= @room.post.duration %>';
    var type = '<%= @room.post.format_type %>';
    if (duration){
      clearTimeout(window.durationTimeout)
      window.durationTimeout = setTimeout(function(){
        window.nextPost();
      }, duration * 1000);
    } else if (type !== 'vimeo' && type !== 'youtube' && type !== 'twitch' && type !== 'soundcloud') {
      clearTimeout(window.durationTimeout)
      window.durationTimeout = setTimeout(function(){
        window.nextPost();
      }, 45000);
    }

    $('.flash.notice').delay(4000).fadeOut(1400);

    $('.lookup-input').focus(function(){
      $(this).select();
    });

    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    $('[data-toggle="tooltip"]').tooltip({html: true});

    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));

    $('body').css('overflow', 'hidden');
    $('html').css('overflow', 'hidden');
  });
</script>