<%= audio_tag('notification.wav', id: 'notification-sound') %>

<div class="room-page page">
  <div class="left-panel">
    <div class="post-content-container">
      <div class="content-container">
        <% if @room.post.link.present? && @room.post.format_link.blank? %>
          <%= link_to @room.post.full_url, @room.post.full_url, target: '_blank', class: 'preview' %>
        <% end %>

        <% if @room.post.text_content.present? %>
          <div class="well post-content">
            <%= html_escape(simple_format @room.post.text_content) %>
          </div>

          <% if @room.post.text_content.length > 500 %>
            <div class="btn btn-info read-more" aria-label="Left Align">
              <span class="fa fa-file-text-o fa-lg" aria-hidden="true"></span> Read more
            </div>

            <script>
              $('.read-more').featherlight('<div class=\"well post-content\"><%= html_escape j(simple_format @room.post.text_content) %></div>', {
                  closeIcon: '<div class=\"escape-container\"><span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span></div>',
                  otherClose: '.escape-icon',
                  afterOpen: function() {
                    $('.featherlight-content').append('<div class=\"btn escape-icon\">esc</div>')
                }
              });
            </script>
          <% end %>
        <% end %>

        <% if @room.post.format_link.present? %>
          <% if @room.post.format_type == 'twitter' %>
            <div class="embeded-content-container">
              <div class="embeded-content-wrapper <%= @room.post.format_type || '' %>">
              </div>
            </div>
          <% else %>
            <div class="embeded-content-container embed-responsive embed-responsive-4by3">
              <div class="embeded-content-wrapper <%= @room.post.format_type || '' %>">
              </div>
            </div>
          <% end %>
        <% else %>
          <div> </div>
        <% end %>

        <div class="controls-container">
          <div class="bin-controls-container">
            <h2 class="bin-header" data-bin-id="<%= @room.bin.id %>"><%= @room.bin.title %></h2>
            <div class="bin-control-buttons">
              <button id="channel-up" class="btn"><span class="fa fa-arrow-up"></span></button>
              <button id="channel-down" class="btn"><span class="fa fa-arrow-down"></span></button>
            </div>
          </div>

          <div class="post-info-container">
            <h3 class="post-header" data-post-id="<%= @room.post.id %>"><%= @room.post.title %></h3>
            <div class="likes">
              <i class="fa fa-thumbs-o-up"></i> <span class='like-count' data-post-id="<%= @room.post.id %>"><%= @room.post.likes.count %></span>
              <% if Like.where(user_id: current_user.id, post_id: @room.post.id, dislike: false).exists? %>
                <button id="like" class="btn btn-primary"><span class="fa fa-thumbs-o-up fa-lg"></span></button>
              <% else %>
                <button id="like" class="btn btn-default"><span class="fa fa-thumbs-o-up fa-lg"></span></button>
              <% end %>
            </div>
          </div>

          <div class="post-controls-container">
            <button id="prev-post" class="btn btn-primary">Prev Show</button>
            <button id="next-post" data-toggle="tooltip" data-placement="top" title="Press this button to view the next show on this channel!" class="btn btn-primary">Next Show</button>
          </div>
        </div>
      </div>

      <div class="new-post-button-and-container">
        <div class="btn-container">
          <%= link_to 'Add Show to Channel', 'javascript:;', class: 'btn btn-primary new-post-button' %>
        </div>

        <div class="new-post-container" style="display: none;">
          <%= form_for(@post, remote: true, html: {'data-type': 'json'}) do |f| %>
            <div class="fields">
              <div class="field new-post-field new-post-title">
                <%= f.text_field :title, placeholder: 'Title', tabindex: 1 %>
              </div>
              <div class="field new-post-field">
                <%= f.text_field :link, placeholder: 'Link (optional)', tabindex: 2 %>
              </div>
            </div>
            <div class="new-post-textarea">
              <%= f.text_area :text_content, placeholder: 'Text (optional)', tabindex: 3 %>
            </div>
            <div class="fields">
              <div class="field">
                <%= f.collection_select(:bin_id, @bins, :id, :title, { selected: @room.bin.try(:id) }, { name: "post[bin_id]" }) %>
              </div>
            </div>

            <div class="fields">
              <div class="btn-container">
                <%= f.submit class: 'btn btn-primary', tabindex: 4 %>
              </div>
              <div class="btn-container clear-button">
                <button type="button" class="btn btn-default" aria-label="Left Align", tabindex="4">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="remote-panel">
    <div class="alert-container">
      <div class="alert alert-info status" role="alert"></div>
      <div class="switch-container">
        <span class="switch-text">Video Chat (Off / On)</span>
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" <%= current_user.matching? ? 'checked' : '' %> >
          <label class="onoffswitch-label" for="myonoffswitch"></label>
        </div>
      </div>
    </div>

    <div class="remote-container">
      <div class="no-user-local">
        <div id="remote">
          <div class="no-user-container">
            <div class="well no-user" aria-label="Left Align">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </div>
          </div>
        </div>

        <div class="local-video-container">
          <div class="videoContainer">
            <video id="localVideo"></video>
            <div id="localVolume" class="volume_bar"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="buttons">
      <div class="control-buttons display-none">
        <button id="mute-microphone-button" class="btn dtn-defualt"><span class="fa fa-microphone-slash"></span></button>
        <button id="mute-volume-button" class="btn dtn-defualt"><span class="fa fa-volume-off"></span></button>
        <button id="end-conversation" class="btn btn-danger">End Conversation</button>
      </div>

      <div class="new-buttons display-none">
        <%= link_to "Back to the Front Page", root_url, id: 'new-topic', class: 'btn btn-info' %>
        <%= link_to "New Chat - #{@room.post.title}", new_chat_path(id: @room.post.id), id: 'new-conversation', class: 'btn btn-success' %>
      </div>
    </div>

    <div class="rating display-none">
      <h4 id="rate-other-user">How would you rate your conversation?</h4>
      <div class="rating-description">
        <p>Rating your conversations will increase your chances of being matched with someone you will enjoy talking with!</p>
      </div>

      <%= form_for(@rating, remote: true) do |f| %>
        <%= f.hidden_field :room_id, value: @room.id %>

        <div>
          <%= f.check_box :nsfw %>
          <%= f.label :nsfw, "Report for nudity" %>
        </div>

        <div class="rating-select-container">
          <% select_options = options_for_select([["Select Rating", nil], ["★", 1], ["★★", 2], ["★★★", 3], ["★★★★", 4], ["★★★★★", 5]], ["Select Rating", nil]) %>
          <%= f.select :value, select_options %>
        </div>

        <%= f.submit "Submit Rating", class: 'submit-rating btn btn-primary' %>
      <% end %>
    </div>

    <div class="dry-erase-board-container">
      <h5>Dry Erase Board - Leave a message! Press Enter to save.</h5>
      <div class="wall-container">
        <textarea id="board" placeholder="Leave a message for everyone to see!"><%= @room.post.comment %></textarea>
        <div class="edit-by-conatiner">last edited by: <span class="edited-by"><%= @room.post.last_editor.try(:name) %></span></div>
      </div>
    </div>
  </div>

  <div class="reaction-panel">
    <div class="react-button-container">
      <button id="react-button" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Click to make a three second reaction or hold to make a longer one!">Press and hold to react!</button>
    </div>
    <div class="reaction-preview-container">
      <video id='reaction-preview' class='display-none'></video>
    </div>

    <div class="react-results-container display-none">
      <div class='reaction-buttons-container'>
        <button id="post-reaction" class="btn btn-success">Post Reaction</button>
        <button id="toss-reaction" class="btn btn-danger">Toss Reaction</button>
      </div>
    </div>

    <div class="reactions-and-react-button">
      <h4>Reactions!</h4>

      <div class="reactions-container">
        <% @room.post.reactions.each do |reaction| %>
          <div class="video-container">
            <%= video_tag(reaction.video.url, controls: true, class: 'reaction-video') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
  $(document).ready(function(){
    var roomChannel = new RoomChannel({ roomToken: '<%= @room.token %>', postId: '<%= @room.post_id %>'});
    var likeChannel = new LikeChannel();
    var roomShow = new RoomShow({
      room: '<%= @room.token %>',
      nick: '<%= current_user.name %>',
      postId: '<%= @room.post.id %>',
      signalServer: '<%= Rails.env.development? ? "http://localhost:8888/" : "https://www.signalben.co:443/" %>',
    });

    var newPost = new NewPost();

    $('.embeded-content-wrapper').append('<%= @room.post.format_link ? j(render partial: "#{@room.post.format_type}", locals: { value: @room.post.format_link }) : '' %>');

    $('.flash.notice').delay(3500).fadeOut(1400);
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  });
</script>
