<%= audio_tag('notification.wav', id: 'notification-sound') %>

<div class="room-page <%= mobile_css %>">
  <div class="content-panel <%= mobile_css %>">
    <% if @room.post.format_link.present? %>
      <% if @room.post.format_type == 'twitter' || @room.post.format_type == 'imgur' %>
        <div class="embeded-content-container">
          <div class="embeded-content-wrapper <%= @room.post.format_type || '' %>">
          </div>
        </div>
      <% else %>
        <div class="embeded-content-container embed-responsive embed-responsive-16by9">
          <div class="embeded-content-wrapper <%= @room.post.format_type || '' %>">
          </div>
        </div>
      <% end %>
    <% else %>
      <div> </div>
    <% end %>

    <% if @room.post.link.present? && @room.post.format_link.blank? %>
      <%= link_to @room.post.full_url, @room.post.full_url, target: '_blank', class: 'preview' %>
    <% end %>

    <% if @room.post.text_content.present? %>
      <div class="well post-content">
        <%= html_escape(simple_format @room.post.text_content) %>
      </div>

      <% if @room.post.text_content.length > 500 %>
        <div class="btn btn-info read-more" aria-label="Left Align">
          <span class="fa fa-file-text-o fa-lg" aria-hidden="true"></span> Read more
        </div>

        <script>
          $('.read-more').featherlight('<div class=\"well post-content\"><%= html_escape j(simple_format @room.post.text_content) %></div>', {
            closeIcon: '<div class=\"escape-container\"><span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span></div>',
            otherClose: '.escape-icon',
            afterOpen: function() {
              $('.featherlight-content').append('<div class=\"btn escape-icon\">esc</div>')
            }
          });
        </script>
      <% end %>
    <% end %>
  </div>

  <div class="guide-info-remote-container">
    <div class="guide-info <%= mobile_css %>">
      <div class="bin-controls-wrapper">
        <div class="bin-controls-container">
          <%= image_tag @room.bin.logo.url(:medium), class: 'bin-logo' %>
          <div class="bin-post-container">
            <div class="post-info-container">
              <div class="likes-header">
                <% if current_user && Like.where(user_id: current_user.id, post_id: @room.post.id, dislike: false).exists? %>
                  <button id="like" class="btn btn-primary <%= mobile_small_btn %>"><span class="fa fa-lg fa-thumbs-o-up"></span></button>
                <% else %>
                  <button id="like" class="btn btn-default <%= mobile_small_btn %>"><span class="fa fa-lg fa-thumbs-o-up"></span></button>
                <% end %>
                <span class="like-count-container">
                <span class='like-count' data-post-id="<%= @room.post.id %>"><%= @room.post.likes.count %></span>
                <i class="fa fa-thumbs-o-up"></i>
              </span>
                <% if mobile? %>
                  <h4 class="post-header" title="<%= @room.post.title %>" data-post-id="<%= @room.post.id %>"><%= @room.post.title %></h4>
                <% else %>
                  <h2 class="post-header" title="<%= @room.post.title %>" data-post-id="<%= @room.post.id %>"><%= @room.post.title %></h2>
                <% end %>
              </div>
            </div>

            <div class="bin-header-description">
              <div class="bin-number-header">
                <% if mobile? %>
                  <h4 class="bin-channel-number"><%= @room.bin.position + 1 %> <%= @room.bin.abbreviation %></h4>
                <% else %>
                  <h4 class="bin-channel-number"><%= @room.bin.position + 1 %> <%= @room.bin.abbreviation %></h4>
                <% end %>
                <% if mobile? %>
                  <h5 class="bin-header" title="<%= @room.bin.title %>" data-bin-id="<%= @room.bin.id %>"><%= @room.bin.title %></h5>
                <% else %>
                  <h4 class="bin-header" title="<%= @room.bin.title %>" data-bin-id="<%= @room.bin.id %>"><%= @room.bin.title %></h4>
                <% end %>
              </div>
              <div class="bin-description <%= mobile_css %>" title="<%= @room.bin.description %>">
                <%= truncate(@room.bin.description, 150) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="chat-panel-container <%= mobile_css %>">
      <div class="chat-panel">
        <div class="chat-container">
          <div class="remote-container">
            <div id="remote">
              <div class="no-user-container">
                <div class="well no-user" aria-label="Left Align">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="local-video-container">
            <div class="videoContainer">
              <video id="localVideo"></video>
              <div id="localVolume" class="volume_bar"></div>
            </div>
          </div>
        </div>

        <div class="chat-info-container">
          <div class="alert chat-alert alert-info status" role="alert"></div>

          <div class="buttons">
            <div class="control-buttons invisible">
              <button id="mute-microphone-button" class="btn dtn-defualt btn-xs"><span class="fa fa-microphone-slash"></span></button>
              <button id="mute-volume-button" class="btn dtn-defualt btn-xs"><span class="fa fa-volume-off"></span></button>
              <button id="end-conversation" class="btn btn-danger btn-xs">End</button>
            </div>
          </div>

          <div class="video-chat-option">
            <h4 class="option-title">Video Chat!</h4>
            <i id="video-chat-helper" class="fa fa-question-circle info-helper" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="When video chat is enabled, you will be matched with others. Disabling video chat will not end an ongoing conversation"></i>
            <div class="switch-container">
              <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" <%= current_user.nil? || (current_user && current_user.matching?) ? 'checked' : '' %>>
                <label class="onoffswitch-label" for="myonoffswitch"></label>
              </div>
            </div>
          </div>

          <div class="invite-friends">
            <h4 class="option-title">Invite Friends!</h4>
            <i id="invite-friends-helper" class="fa fa-question-circle info-helper" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Send your friends the URL to invite them to video chat with you!"></i>
            <input type="text" id="lookup-input" style="display:none;" value="<%= request.original_url.gsub('https://', '').gsub('http://', '') %>"/>
            <button class="btn btn-primary btn-xs" data-clipboard-target='lookup-input' id='copy-button'>Copy Link</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="guide-wrapper <%= mobile_css %>">
  <div class="guide-container">
    <div id="channel-contents" class="channel-contents guide-table <%= mobile_css %>">
      <table>
        <% @bins.each do |bin| %>
          <tr data-guide-bin-id="<%= bin.id %>">
            <td class="headcol" data-guide-post-id="<%= bin.posts.first.try(:id) %>" title="<%= bin.title %>">
              <button><%= "#{bin.abbreviation} #{bin.position + 1}" %></button>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div id="guide-contents" class="guide-table <%= mobile_css %>">
      <table>
        <% @bins.each do |bin| %>
          <tr data-guide-bin-id="<%= bin.id %>">
            <% bin.posts.each do |post| %>
              <% if post.id == @room.post.id && bin.id == @room.bin.id %>
                <td data-guide-post-id="<%= post.id %>"><button class="selected-show" title="<%= post.title %>"><%= truncate(post.title) %></button></td>
              <% else %>
                <td data-guide-post-id="<%= post.id %>"><button title="<%= post.title %>"><%= truncate(post.title) %></button></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>

<script>
  $(document).ready(function(){
    window.fromToken = '<%= SecureRandom.uuid %>';
    var roomChannel = new RoomChannel({ roomToken: '<%= @room.token %>', postId: '<%= @room.post_id %>', mobile: '<%= mobile_css %>'});
    var likeChannel = new LikeChannel();
    var roomShow = new RoomShow({
      room: '<%= @room.token %>',
      postId: '<%= @room.post.id %>',
      mobile: '<%= mobile? %>',
      signalServer: '<%= Rails.env.development? ? "http://localhost:8888/" : "https://www.signalben.co:443/" %>',
    });

    var newPost = new NewPost();
    new Guide;

    $('.embeded-content-wrapper').append('<%= @room.post.format_link ? j(render partial: "#{@room.post.format_type}", locals: { value: @room.post.format_link, start: @room.post.start_time }) : '' %>');

    var duration = '<%= @room.post.duration %>';
    var type = '<%= @room.post.format_type %>';
    if (duration){
      clearTimeout(window.durationTimeout)
      window.durationTimeout = setTimeout(function(){
        window.nextPost();
      }, duration * 1000);
    } else if (type !== 'vimeo' && type !== 'youtube' && type !== 'twitch') {
      clearTimeout(window.durationTimeout)
      window.durationTimeout = setTimeout(function(){
        window.nextPost();
      }, 30000);
    }

    $('.flash.notice').delay(4000).fadeOut(1400);

    var clip = new ZeroClipboard($("#copy-button"));

    $('[data-toggle="tooltip"]').tooltip();
  });
</script>