<div class="page-header">
  <h1 class="page-title">Convo <small><%= @room.post.title %></small></h1>
</div>

<div class="room-page">
  <div class="left-panel">
    <div class="alert alert-info status" role="alert"></div>

    <div class="videoContainer">
      <video id="localVideo" style="height: 150px;" oncontextmenu="return false;"></video>
      <div id="localVolume" class="volume_bar"></div>
    </div>

    <div class="buttons">
      <button id="end-conversation">End Conversation</button>
      <div class="new-buttons">
        <%= link_to "New Conversation About the Same Topic", @room.post, id: 'new-conversation', class: 'btn' %>
        </br >
        <%= link_to "List of Topics", root_path, id: 'new-topic', class: 'btn' %>
      </div>
    </div>

    </br >
    </br >

    <div class="rating">
      <strong>Rate Other User:</strong>
      <%= form_for(@rating, remote: true) do |f| %>
        <%= f.hidden_field :room_id, value: @room.id %>

        <% select_options = options_for_select([["*", 1], ["**", 2], ["***", 3], ["****", 4], ["*****", 5]], ["***", 3]) %>
        <%= f.select :value, select_options %>

        <%= f.check_box :nsfw %>
        <%= f.label :nsfw, "Report for Nudity" %>

        <div class="actions">
          <%= f.submit "Submit Rating" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="remote-panel">
    <div class="remote-container">
      <button id="toggle-local" type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span>
      </button>

      <div id="remote"></div>

      <button id="toggle-chat" type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span>
      </button>
    </div>

    <div class="send-container">
      <textarea id="send-message" placeholder="Type a message, press enter to send"></textarea>
    </div>
  </div>

  <div class="chat-panel">
    <div class="messages-continer">
      <div class="from">From them:</div>
      <div class="to">From you:</div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    var roomShow = new RoomShow({ room: '<%= @room.token %>', participationId: '<%= @participation_id %>', nick: '<%= current_user.name %>' });
  });
</script>
