<div class="page-container">
  <div class="link-panel">
    <ul class="list-group">
      <% @posts.each do |post| %>
        <li class="list-group-item">
          <div class="badge-and-title">
            <div class="count-container">
              <% num_chatting = (post.rooms.count / 2) + 1 %>
              <span class="badge" data-toggle="tooltip" data-placement="top" title="<%= num_chatting %> people chatting right now!"><%= num_chatting %></span>
            </div>
            <div class="link-title-container">
              <%= link_to post.title, post %>
            </div>
          </div>
          <div class="edit-delete">
            <% if current_user == post.user %>
              <%= link_to 'Edit', edit_post_path(post) %>
              <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
              <span class='posted-by' ><%= post.user.name %>, <%= time_ago_in_words(post.created_at) %> ago</span>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="right-panel">
    <div class="btn-container">
      <% unless current_user %>
        <%= link_to "Sign up", new_registration_path(:user), class: 'btn btn-success' %>
      <% end %>
      <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
    </div>

    <div class="panel panel-default about-container">
      <div class="panel-heading">
        About Chat Ben
      </div>
      <div class="panel-body">
        <p>
          Chat Ben is place to have a one on one video conversation about a topic. After each conversation, you are encouraged to rate how the conversation went with the other person. Ratings improve the chance of you being matched with someone you will enjoy talking with!
          Chat Ben is not a place to be nude or do anything to make the other person feel uncomfortable.
        </p>
      </div>
    </div>

    <div class="login-container">
      <% if current_user %>
      <% else %>
        <%= form_for(User.new, as: :user, url: session_path(:user)) do |f| %>
          <div class="login-field">
            <%= f.label :login, 'Username or Email' %></br>
            <%= f.text_field :login, class: 'login-input', tabindex: 1 %>
          </div>

          <div class="login-field">
            <%= f.label :password %></br>
            <%= f.password_field :password, autocomplete: "off", class: 'login-input', tabindex: 2 %>
          </div>

          <div class="actions">
            <div class="btn-container">
              <%= f.submit "Log in", class: 'btn btn-info', tabindex: 3 %>
            </div>
          </div>
        <% end %>
      <% end  %>
    </div>
  </div>
</div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
</script>