<div class="page-container page">
  <div class="link-panel">
    <div class="new-post-button-and-container">
      <div class="btn-container">
        <%= link_to 'javascript:;', class: 'btn btn-primary new-post-button' do %>
          <span class="new-post-key">N</span>ew Post
        <% end %>
        <%= link_to "Random Chat With Someone New!", new_chat_path, class: 'btn btn-success blink'%>
      </div>

      <div class="new-post-container" style="display: none;">
        <%= form_for(@post) do |f| %>
          <div class="fields">
            <div class="field new-post-field new-post-title">
              <%= f.text_field :title, placeholder: 'Title', tabindex: 1 %>
            </div>
            <div class="field new-post-field">
              <%= f.text_field :link, placeholder: 'Link (optional)', tabindex: 2 %>
            </div>
          </div>
          <% if current_user && current_user.is_admin? %>
            <div class="field new-post-field">
              <%= f.label :sticky %>
              <%= f.check_box :sticky %>
            </div>
            <div class="field new-post-field">
              <%= f.label :live %>
              <%= f.check_box :live %>
            </div>
          <% end %>
          <div class="new-post-textarea">
            <%= f.text_area :text_content, placeholder: 'Text (optional)', tabindex: 3 %>
          </div>
          <div class="fields">
            <div class="btn-container">
              <%= f.submit class: 'btn btn-primary', tabindex: 4 %>
            </div>
            <div class="btn-container clear-button">
              <button type="button" class="btn btn-default" aria-label="Left Align", tabindex="4">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <h3>Channels!</h3>
    <div class="bins-container">
      <div class="bins">
        <% @bins.each do |bin| %>
          <div class="bin">
            <% post = bin.posts.first %>
            <% if post.format_type == 'youtube' %>
              <%= link_to image_tag("http://img.youtube.com/vi/" + post.format_link + "/0.jpg", class: "live-img"), post_path(post, channel: bin.id) %>
            <% elsif post.format_type == 'twitch' %>
              <%= link_to image_tag("twitch.jpg", class: "live-img"), post_path(post, channel: bin.id) %>
            <% end %>
            <h5 class="bin-title"><%= bin.title %></h5>
          </div>
        <% end %>
      </div>
    </div>

    <h3>Posts!</h3>
    <ul class="list-group">
      <% @posts.each do |post| %>
        <li class="list-group-item" id="<%= post.id %>">
          <div class="badge-and-title">
            <div class="count-container">
              <% if post.sticky? %>
                <span class="fa fa-thumb-tack fa-lg" aria-hidden="true"></span>
              <% end %>
              <% if post.num_waiting > 0 %>
                <span class="waiting-dot glow" data-toggle="tooltip" data-placement="top" title="<%= post.num_waiting %> waiting to chat right now!"></span>
              <% end %>
            </div>

            <% if post.format_type.present? %>
              <div class="preview-container" aria-label="Left Align">
                <span class="preview format <%= post.format_icon %>" aria-hidden="true"></span>
              </div>
              <script>
                $('.preview.format').featherlight('<%= j(render partial: "rooms/#{post.format_type}", locals: { value: post.format_link }) %>', {
                    closeIcon: '<div class=\"escape-container\"><span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span></div>',
                    otherClose: '.escape-icon',
                    afterOpen: function() {
                      $('.featherlight-content').append('<div class=\"btn escape-icon\">esc</div>')
                    },
                    afterContent: function() {
                      twttr.widgets.load();

                      var script = document.createElement('script');
                      script.src = "//s.imgur.com/min/embed.js";
                      document.head.appendChild(script);
                    }
                });
              </script>
            <% end %>

            <% if post.link.present? && !post.format_link %>
              <div class="preview-container" aria-label="Left Align">
                <%= link_to post.full_url, target: '_blank' do %>
                  <span class="preview glyphicon glyphicon-globe"></span>
                <% end %>
              </div>
            <% end %>

            <% if post.text_content.present? %>
              <div class="preview-container" aria-label="Left Align">
                <span class="preview text-content-icon fa fa-file-text-o fa-lg" aria-hidden="true"></span>
              </div>
              <script>
                $('.text-content-icon').featherlight('<div class=\"well\"><%= html_escape j(simple_format post.text_content) %></div>', {
                    closeIcon: '<div class=\"escape-container\"><span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span></div>',
                    otherClose: '.escape-icon',
                    afterOpen: function() {
                      $('.featherlight-content').append('<div class=\"btn escape-icon\">esc</div>')
                    }
                });
              </script>
            <% end %>

            <div class="post-title-container">
              <%= link_to post.title, post %>
            </div>
          </div>

          <div class="edit-delete">
            <% if current_user == post.user %>
              <span class='posted-by' >submitted by you! <i class="fa fa-thumbs-o-up"></i> <span class='like-count' data-post-id="<%= post.id %>"><%= post.like_count %></span> </span>
              |
              <%= link_to 'Delete', post, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
            <% else %>
              <span class='posted-by' >submitted by <%= post.user.name %>, <i class="fa fa-thumbs-o-up"></i> <span class='like-count' data-post-id="<%= post.id %>"><%= post.like_count %></span></span>
              <% if current_user && current_user.is_admin? %>
              |
                <%= link_to 'Delete', post, method: :delete, remote: true, data: { confirm: 'Ian or Ben you are deleting someone elses post. Are you sure?' } %>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="right-panel">
    <div class="total-users-container">
      <span id="total-users"><%= User.where(active: true).count %></span> Users Chatting Now!
    </div>
    <div class="login-container">
      <% if current_user %>
      <% else %>
        <%= form_for(User.new, as: :user, url: session_path(:user)) do |f| %>

          <div class="fields">
            <div class="field login-field">
              <%= f.text_field :login, class: 'login-input', tabindex: 5, placeholder: 'Username/Email' %>
            </div>

            <div class="field login-field">
              <%= f.password_field :password, autocomplete: "off", class: 'login-input', tabindex: 6, placeholder: 'Password' %>
            </div>

            <div class="btn-container">
              <%= f.submit "Log in", class: 'btn btn-info', tabindex: 7 %>
            </div>
          </div>
        <% end %>
      <% end  %>
    </div>
    <div class="btn-container">
      <% unless current_user %>
        <%= link_to "Sign up", new_registration_path(:user), class: 'btn btn-success', tabindex: 8 %>
      <% end %>
    </div>
    <div class="panel panel-default about-container">
      <div class="panel-heading">
        About
      </div>
      <div class="panel-body">
        <p>
          Chat Ben is a space to have one-on-one video conversations about specific topics with people you'll like!
        </p>
        <p>
          After each chat, you are encouraged to rate your conversation. Rating conversations will improve your chances of matching with awesome people!
        </p>
        <p>
          Chat Ben is not about being nude or doing anything that makes people feel uncomfortable.
        </p>
        <p>
          <em>Chat Ben on!</em>
        </p>
        Like us on <%= link_to 'Facebook', 'https://www.facebook.com/ChatBen.co' %>, or don't. I don't give a Shat!
      </div>
    </div>
  </div>
</div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
$(document).ready(function() {
  var postChannel = new PostChannel();
  var posts = new Posts();
  var newPost = new NewPost();
});
</script>