<div class="page-container page">
  <div class="link-panel">
    <ul class="list-group">
      <% @posts.each do |post| %>
        <li class="list-group-item">
          <div class="badge-and-title">
            <div class="count-container">
              <% num_chatting = Participation.joins(:room).joins('join posts on rooms.post_id = posts.id').where('posts.id = ?', post.id).count %>
              <span class="badge" data-toggle="tooltip" data-placement="top" title="<%= num_chatting %> chatting right now!"><%= num_chatting %></span>
            </div>
            <div class="link-title-container">
              <%= link_to post.title, post %>
            </div>
          </div>
          <div class="edit-delete">
            <% if current_user == post.user %>
              <span class='posted-by' > created <%= time_ago_in_words(post.created_at) %> ago</span>
              <%= link_to 'Edit', edit_post_path(post) %>
              <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
              <span class='posted-by' ><%= post.user.name %>, created <%= time_ago_in_words(post.created_at) %> ago</span>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="right-panel">
    <div class="login-container">
      <% if current_user %>
      <% else %>
        <%= form_for(User.new, as: :user, url: session_path(:user)) do |f| %>

          <div class="login-fields">
            <div class="login-field">
              <%= f.text_field :login, class: 'login-input', tabindex: 1, placeholder: 'Username/Email' %>
            </div>

            <div class="login-field">
              <%= f.password_field :password, autocomplete: "off", class: 'login-input', tabindex: 2, placeholder: 'Password' %>
            </div>

            <div class="btn-container">
              <%= f.submit "Log in", class: 'btn btn-info', tabindex: 3 %>
            </div>
          </div>
        <% end %>
      <% end  %>
    </div>
    <div class="btn-container">
      <% unless current_user %>
        <%= link_to "Sign up", new_registration_path(:user), class: 'btn btn-success', tabindex: 4 %>
      <% end %>
      <%= link_to 'New Post', new_post_path, class: 'btn btn-primary', tabindex: 5 %>
    </div>
    <div class="panel panel-default about-container">
      <div class="panel-heading">
        About Chat Ben
      </div>
      <div class="panel-body">
        <p>
          &nbsp Chat Ben is a place to have a one on one video conversation about a specific topic with someone you might like!
          </br>
          </br>
          &nbsp You are encouraged to rate each conversation. Rating your conversations will improve your chances of you being matched with someone you will enjoy talking with!
        </br>
        </br>
          &nbsp Chat Ben is not a place to be nude or do anything that makes the person you are chatting with feel uncomfortable.
        </p>
      </div>
    </div>
  </div>
</div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
</script>