<div class="page-header">
  <h1 class="page-title">Convo <small>video chats with purpose</small></h1>
</div>

<p id="notice"><%= notice %></p>

<div class="page-container">
  <div class="link-panel">
    <ul class="list-group">
      <% @posts.each do |post| %>
        <li class="list-group-item">
          <div class="count-container">
            <span class="badge"><%= (post.rooms.count / 2) + 1 %></span>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          </div>
          <div class="link-title-container">
            <%= link_to post.title, post %>
          </div>
          <div class="edit-delete">
            <% if current_user == post.user %>
              <%= link_to 'Edit', edit_post_path(post) %>
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
              <span class='posted-by' ><%= post.user.name %>, <%= time_ago_in_words(post.created_at) %> ago</span>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="right-panel">
    <div class="new-post-container">
      <%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
    </div>

    <div class="panel panel-default about-container">
      <div class="panel-heading">
        about convo
      </div>
      <div class="panel-body">
        <p>
          It's almost like something out of a fairytale book. You can't make a mistake. Anything that happens you can learn to use - and make something beautiful out of it. If you overwork it you become a cloud killer. There's nothing worse than a cloud killer. We wash our brush with odorless thinner. So often we avoid running water, and running water is a lot of fun.
        </p>
      </div>
    </div>

    <div class="panel login-container">
      <% if current_user %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'btn btn-info') %>
      <% else %>
        <%= form_for(User.new, as: :user, url: session_path(:user)) do |f| %>
          <div class="login-field">
            <%= f.label :login, 'Name or Email' %></br>
            <%= f.text_field :login, class: 'login-input' %>
          </div>

          <div class="login-field">
            <%= f.label :password %></br>
            <%= f.password_field :password, autocomplete: "off", class: 'login-input' %>
          </div>

          <% if Devise.mappings[:user] %>
              <div class="login-field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-info' %>
            <%= link_to "Sign up", new_registration_path(:user), class: 'btn btn-success' %>
            <%= link_to "Forgot your password?", new_password_path(:user) %>
          </div>
        <% end %>
      <% end  %>
    </div>
  </div>
</div>

