<div class="page-container page">
  <div class="link-panel">
    <div class="btn-container">
      <%= link_to 'javascript:;', class: 'btn btn-primary new-post-button' do %>
        <span class="new-post-key">N</span>ew Post
      <% end %>
    </div>

    <div class="new-post-container" style="display: none;">
      <%= form_for(@post) do |f| %>
        <div class="fields">
          <div class="field new-post-field new-post-title">
            <%= f.text_field :title, placeholder: 'Title', tabindex: 1 %>
          </div>
          <div class="field new-post-field">
            <%= f.text_field :link, placeholder: 'Link (optional)', tabindex: 2 %>
          </div>

          <% if current_user.name == 'ben' %>
            <div class="field new-post-field">
              <%= f.label :sticky %>
              <%= f.check_box :sticky %>
            </div>
          <% end %>

          <div class="btn-container">
            <%= f.submit class: 'btn btn-primary', tabindex: 4 %>
          </div>
          <div class="btn-container clear-button">
            <button type="button" class="btn btn-default" aria-label="Left Align", tabindex="4">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </div>
        </div>
        <div class="new-post-textarea">
          <%= f.text_area :text_content, placeholder: 'Text (optional)', tabindex: 3 %>
        </div>
      <% end %>
    </div>

    <ul class="list-group">
      <% @posts.each do |post| %>
        <li class="list-group-item">
          <div class="badge-and-title">
            <div class="count-container">
              <% num_chatting = Participation.joins(:room).joins('join posts on rooms.post_id = posts.id').where('posts.id = ?', post.id).count %>
              <span class="badge" data-toggle="tooltip" data-placement="top" title="<%= num_chatting %> chatting right now!"><%= num_chatting %></span>
            </div>

            <% if post.format_link %>
              <div class="preview-container" aria-label="Left Align">
                <span class="preview format <%= post.format_icon %>" aria-hidden="true"></span>
              </div>
              <script>
                $('.preview.format').featherlight('<%= raw(post.format_link) %>', {
                    closeIcon: '<div class=\"escape-container\"><span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span></div>',
                    otherClose: '.escape-icon',
                    afterOpen: function() {
                      $('.featherlight-content').append('<div class=\"btn escape-icon\">esc</div>')
                    },
                    afterContent: function() {
                      twttr.widgets.load();

                      var script = document.createElement('script');
                      script.src = "//s.imgur.com/min/embed.js";
                      document.head.appendChild(script);
                    }
                });
              </script>
            <% end %>

            <% if post.link.present? && !post.format_link %>
              <div class="preview-container" aria-label="Left Align">
                <%= link_to post.full_url, target: '_blank' do %>
                  <span class="preview glyphicon glyphicon-globe"></span>
                <% end %>
              </div>
            <% end %>

            <% if post.text_content.present? %>
              <div class="preview-container" aria-label="Left Align">
                <span class="preview text-content-icon fa fa-file-text-o fa-lg" aria-hidden="true"></span>
              </div>
              <script>
                $('.text-content-icon').featherlight('<div class=\"well\"><%= html_escape j(simple_format post.text_content) %></div>', {
                    closeIcon: '<div class=\"escape-container\"><span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\"></span></div>',
                    otherClose: '.escape-icon',
                    afterOpen: function() {
                      $('.featherlight-content').append('<div class=\"btn escape-icon\">esc</div>')
                    }
                });
              </script>
            <% end %>

            <div class="post-title-container">
              <%= link_to post.title, post %>
            </div>
          </div>

          <div class="edit-delete">
            <% if current_user == post.user %>
              <span class='posted-by' > <%= time_ago_in_words(post.created_at) %> ago</span>
              <% link_to 'Edit', edit_post_path(post) %>
              <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
              <span class='posted-by' ><%= post.user.name %>, <%= time_ago_in_words(post.created_at) %> ago</span>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="right-panel">
    <div class="login-container">
      <% if current_user %>
      <% else %>
        <%= form_for(User.new, as: :user, url: session_path(:user)) do |f| %>

          <div class="fields">
            <div class="field login-field">
              <%= f.text_field :login, class: 'login-input', tabindex: 5, placeholder: 'Username/Email' %>
            </div>

            <div class="field login-field">
              <%= f.password_field :password, autocomplete: "off", class: 'login-input', tabindex: 6, placeholder: 'Password' %>
            </div>

            <div class="btn-container">
              <%= f.submit "Log in", class: 'btn btn-info', tabindex: 7 %>
            </div>
          </div>
        <% end %>
      <% end  %>
    </div>
    <div class="btn-container">
      <% unless current_user %>
        <%= link_to "Sign up", new_registration_path(:user), class: 'btn btn-success', tabindex: 8 %>
      <% end %>
    </div>
    <div class="panel panel-default about-container">
      <div class="panel-heading">
        About
      </div>
      <div class="panel-body">
        <p>
          &nbsp Chat Ben is a place to have a one on one video conversation about a specific topic with someone you might like!
          </br>
          </br>
          &nbsp You are encouraged to rate each conversation. Rating your conversations will improve your chances of you being matched with someone you will enjoy talking with!
        </br>
        </br>
          &nbsp Chat Ben is not a place to be nude or do anything that makes the person you are chatting with feel uncomfortable.
        </p>
      </div>
    </div>
  </div>
</div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
$(document).ready(function() {
  var showNewPost = function(){
    $('.new-post-container').toggle(true);
    $('.new-post-button').toggle(false);
    $('.new-post-title input').focus();
  };

  var hideNewPost = function(){
    $('.new-post-container').toggle(false);
    $('.new-post-button').toggle(true);
  };

  $('.new-post-button').on('click', function(){
    showNewPost();
  });

  $('.clear-button').on('click', function(){
    hideNewPost();
  });

  $(document).keyup(function(e){
    if(e.keyCode === 78){ // n
      if($('.new-post-button').is(":visible") && !$('input').is(':focus')){
        showNewPost();
      }
    }

    if(e.keyCode === 27){ // esc
      if($('.clear-button').is(":visible")){
        hideNewPost();
      }
    }
  });

  $('.flash.notice').delay(3500).fadeTo(1400, 0.0);
});
</script>