<!DOCTYPE html>
<html>
<head>
  <title>Chat Ben</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page-header">
  <h1 class="page-title">Chat Ben <small class="lead"><%= @subtitle || 'video chats with purpose' %></small></h1>
  <% if current_user %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'logout-link') %>
  <% end %>
</div>

<%= yield %>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="footer-content">
    <% if current_user && !@is_feeback_new %>
      <%= link_to('Leave Ben Feedback', new_feedback_path) %>
    <% end %>

    <p class="copyright text-muted">© 2016 Chat Ben, Inc.</p>
  </div>
</div>
</body>
</html>
