<!DOCTYPE html>
<html>
  <head>
    <title>chatben.tv - Watch Videos Together and Video Chat with Friends</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= action_cable_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag('CBTVicon.ico') %>
    <link href='https://fonts.googleapis.com/css?family=Raleway:700,300' rel='stylesheet' type='text/css'>
    <meta name="description" content="Kick back and watch videos and other content while you video chat with your friends!"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    <meta name="google-site-verification" content="d6GGirNd5w02XSsgwv_7PplfPKJ4UYbI0ApTmFwk3xw" />
    <meta property="og:image" content="<%= image_url('CBTVicon.png') %>" />
    <meta property="og:description" content="Kick back and watch videos and other content while you video chat with your friends!" />
  </head>
  <script>
    window.hasStorage = function supports_html5_storage() {
      try {
        return 'localStorage' in window && window['localStorage'] !== null;
      } catch (e) {
        return false;
      }
    };
  </script>
  <script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  </script>
  <script>
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));

    $(document).ready(function() {
      var cable = new Cable();
      window.currentUser = {};
      currentUser.name = '<%= current_user ? current_user.name : "" %>';
      new Login;
    });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-75900334-1', 'auto');
    ga('send', 'pageview');
  </script>
  <body style="<%= @hide_footer ? '' : 'padding-bottom:70px;' %>">
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="page-header <%= mobile_css %>">
      <div class="page-title">
        <%= link_to image_tag('chatbenTVlogo2.png'), root_url %>
        <small class="lead">Watch the internet like TV with your friends!<small class="beta-red"> beta</small></small>
      </div>
      <%= render partial: 'shared/login' %>
    </div>

    <div class="mobile-notice alert alert-info <%= mobile_css %>">
      Try chatben on your laptop to video chat with friends!
      <span class="mobile-notice-clear glyphicon glyphicon-remove" aria-hidden="true"></span>
    </div>

    <div class="login-notice notice alert alert-info hidden">
      Login to do that!<small> hint: chatben is way cooler that way!</small>
      <span class="login-notice-clear glyphicon glyphicon-remove" aria-hidden="true"></span>
    </div>

    <% if flash[:notice] %>
      <div class="flash notice alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="flash alert alert-danger"><%= flash[:alert] %></div>
    <% end %>

    <% if !browser.device.mobile? && browser.safari? %>
      <div class="flash alert alert-danger safari-notice">Safari is working on web cam support. Until then, use chatben in Chrome or Firefox! <a href='https://www.google.com/search?q=safari+webrtc+support'>(Read More)</a></div>
    <% end %>

    <%= yield %>

    <%= audio_tag('8-bit-coin.wav', id: 'like-sound') %>
    <%= audio_tag('8-bit-wrong.wav', id: 'dislike-sound') %>
  </body>
</html>
