<!DOCTYPE html>
<html>
  <head>
    <title>Chat Ben</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Raleway:700,300' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width; initial-scale=1.0;"/>
  </head>
  <body>

    <div class="page-header">

      <h1 class="page-title"><%= link_to 'Chat Ben ', "javascript: window.location = '#{root_url}';" %><small class="lead"><%= @subtitle || 'video chats with purpose' %></small></h1>
      <% if current_user %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'logout-link') %>
      <% end %>
    </div>

    <% if flash[:notice] %>
      <div class="flash notice alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="flash alert alert-danger"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>

    <% unless @hide_footer %>
      <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="footer-content">
          <% if current_user && !@is_feeback_new %>
            <%= link_to('Leave Ben Feedback', new_feedback_path) %>
          <% end %>

          <p class="copyright text-muted">2016 Chat Ben</p>
        </div>
      </div>
    <% end %>

    <script>
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };

        return t;
      }(document, "script", "twitter-wjs"));
    </script>
  </body>
</html>
